<article class="post">
    <section class="author-profile inner">
        <figure class="author-image" style="margin-top:0px;">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        <h1 class="author-title">Erwin Elling</h1>
            <h2 class="author-bio">Een expert.</h2>
        <div class="author-meta">
              <span class="author-location icon-location">Europalaan 2B, E1.2. Utrecht</span>
              <span class="author-link icon-link">Fla</span>
        </div>
    </section>
</article>