<article class="post">
    <section class="post-content">
        <p>The Wrong Songs is een bureau voor online strategie. We helpen bij het waarmaken van ambitieuze online ideeën. Bijvoorbeeld door, in korte tijd, in co-creatie met jou, je collega's en je klanten:</p>
        <ol>
          <li>Naar de kern van je online ideeën te gaan</li>
          <li>Een behapbaar plan uit te werken</li>
          <li>De benodigde partners te betrekken</li>
        </ol>        
        <p>Vanaf daar kun je aan de slag. Met een goed team, in overzichtelijke stappen, naar je doel. Met duidelijk voor wie en waarom. En helder waarop je kunt navigeren. Op de achtergrond blijven wij dan aanwezig om:</p>
        <ol start="4">
          <li>Te checken of je nog op koers ligt</li>
          <li>Waar nodig bij te sturen</li>
        </ol>
        <p>Dat doen we voor onder meer ArtEZ Hogeschool voor de Kunsten, Jimmy's, Netwerk Notarissen en Leven in Aandacht. En eerder al voor bijvoorbeeld Blik Grafisch Ontwerp, Provincie Utrecht, Lemonbit en Vechtclub XL.</p>
        <div style="text-align: center">
                <a class="contact-button" href="mailto:erwin@thewrongsongs.com">Klinkt goed? Mail Erwin.</a><br/>
                <em>Of bel hem op <a href="tel://+31638537325">0638537325</a>.</em>
        </div>
    </section>
</article>